{% extends "base.html" %}

{% block title %}
    Accept Invite
{% endblock title %}

{% block content %}

    <div class="well col-md-6">
        <p>User {{ invite.from_user }} invites you to play,
            with the following message:
        </p>

        <blockquote><p>{{ invite.message }}</p></blockquote>
        <form action="" method="post">
            {% csrf_token %}
            <button type="submit" name="accept" value="ok">Accept</button>
            <button type="submit" name="deny" value="no">Deny</button>
        </form>
    </div>

{% endblock content %}
